.movies-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.movie-card {
    width: 250px;
    overflow: hidden;
    justify-content: center;
    border: 2px solid #000;
}

#loadMoviesButton, #importBanger, #importNavets {
    cursor: pointer;
}